@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron text-center">
    <h1>Let's explore the best restaurants</h1>
  </div>
  <div>
    <p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
  </div>
</div>